<div class="container">
    <div class="row">        
        <input type="text" class="form-control" [(ngModel)]="username" style="margin-bottom: 10px;">
        <p [ngStyle]="{color:getColor()}" [ngClass]="{usernameOn: username}" *ngIf="username; else noUsername">My username is {{username}}</p>
        <ng-template #noUsername>
            <p [ngStyle]="{color:getColor()}" [ngClass]="{usernameOff: !username}">I have no username</p>
        </ng-template>
        <button class="btn btn-primary" [disabled]="!username" (click)="resetUsername()" style="margin-right: 10px;">Reset Username</button>
        <button class="btn btn-primary" [disabled]="!username" (click)="addUsername()">Add Username</button>
        <p *ngFor="let user of usersList">{{user}}</p>
    </div>
</div>