.warning{
    background-color: rgb(252, 115, 115);
    padding: 15px;
    border-radius: 10px;
    color:'black';
    display: flex;
    justify-content: space-between;
    margin: 5px;

    .close-button{
        color:rgb(185, 3, 3);
        font-weight: bold;
    }

    .close-button:hover{
        cursor: pointer;
    }
}